[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
"pyside2" = "*"
pyserial = "*"
imutils = "*"
scikit-image = "*"
sphinx = "*"
dlib = "*"
pytesseract = "*"
psutil = "*"

[dev-packages]
pydocstyle = "*"
"autopep8" = "*"
pylama = "*"
jedi = "*"

[requires]
python_version = "3.6"
